.header_logo{
    margin-left: 50px ;
}
.navbar-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: white;
    padding: 0;
    margin: 0;
  }
  
/*
.navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .navbar-logo {
    font-size: 24px;
  }
  
  .navbar-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: white;
    padding: 0;
    margin: 0;
  }
  
  .navbar-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .navbar-links li {
    margin-right: 20px;
  }
  
  .navbar-links li:last-child {
    margin-right: 0;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
  }
  
  .navbar-links.open {
    display: block;
  }
  
  @media (max-width: 768px) {
    .navbar-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px; 
      right: 20px;
      background-color: #333;
    }
  
    .navbar-links.open {
      display: block;
    }
  }
   */